


@import "tailwindcss";


@theme{

    --color-brand-navy: #1A2B4C;
    --color-brand-gold: #D4AF37;
    --color-brand-medwhite : #F5F5F5;
    --color-brand-cardhover: #EEEEEE;
    --font-headline : "Oswald",sans-serif;
    --font-body: "Inter", sans-serif;
}
body{
    background-color: #f5f5f5;
}
a{
    cursor :pointer;
}
